services:
  - type: web
    name: tackling-fake-news-backend
    runtime: node
    plan: free
    buildCommand: npm install
    startCommand: node backend/server.js
    envVars:
      - key: PORT
        value: 8000
      - key: NODE_ENV
        value: production
      - key: FRONTEND_URL
        value: ""
